# Node
node_modules/

# Environment variables
.env
.env.*
*.local

/src/generated/prisma

# Build output
dist/

# Logs
/logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor/IDE configuration
.vscode/

# Coverage
/coverage